.clients-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  justify-items: center;

  > *:nth-child(odd):nth-last-child(1) {
    grid-column: 3; /* center the single logo */
  }

  > *:nth-child(1):nth-last-child(2),
  > *:nth-child(2):nth-last-child(2) {
    grid-column: 2; /* center two logos */
  }

  > *:nth-child(1):nth-last-child(3) {
    grid-column: 2; /* center three logos */
  }
}
