.contact-box {
	h3 {
		text-align: start;
		color: $main-navy;
		margin: 10px 10px 0; 
	}
}

.button a, button[type=submit] {
	color: #0db6bd;
	text-decoration: none;
	border: 1px solid #bcebed;
	transition: .2s ease-in-out;
	display: inline-block;
	padding: 16px 50px;
	background: #f4fcfc;
	border-radius: 100px;
}

.button a:hover, button[type=submit]:hover {
	opacity: 0.8;
	color: $main-teal;
	cursor: pointer;
}


textarea, input, button, select { font-family: inherit; font-size: inherit; }

button[type=submit] {
	margin: 20px 0 0 0;
}

label, input, textarea, button[type=submit]{
	display: block;
	width: 100%;
	box-sizing: border-box;
}

textarea {
	resize: vertical;
	height: 150px;
	border-radius: 30px;
}

input {
	border-radius: 100px;
}

label {
	margin: 20px 0 5px 0;
}

input, textarea {
	padding: 10px;
}

input, textarea {
	-webkit-transition: all 0.30s ease-in-out;
	-moz-transition: all 0.30s ease-in-out;
	-ms-transition: all 0.30s ease-in-out;
	-o-transition: all 0.30s ease-in-out;
	outline: none;
	border: 1px solid #e4e6ea;
	padding: 20px 15px; //////////////
	color: #6d767d;

	}

input[type=text]:focus, input[type=email]:focus, input[type=password]:focus, textarea:focus, input[type=number]:focus, input[type=tel]:focus {
	border: 1px solid $light-navy;
}
