.hero {
	height: 100vh;
	min-height: 550px;
	background-image: url("images/Workhub program.png"), url("images/Pattern.svg");
	background-color: #0E657E;  /*it was #333*/
	background: linear-gradient(60deg,rgba(13, 182, 189, 1) 0%, rgba(14, 101, 126, 1) 50%, rgba(2, 44, 78, 1) 100%); /*للعربي*/
	background-size: 40vh, cover;
	background-repeat: no-repeat;
	background-position: left, left;
	display: flex;
	justify-content: center;
	align-items: center;
}
	p { 
		color: #fff;
		z-index: 1;
	}

	.hero-text {
		display: flex;
		align-items: center;
		height: 100%;
		z-index: 1;
		flex-wrap: wrap; /* انا اضفته */

	}


/* Responsive: stack items when screen is small */
@media (max-width: 900px) {
	.hero .inner-hero {
		flex-direction: column;   /* move image below text */
		align-items: center;
		text-align: center;
		padding: 20px;
	}
}

	.hero-text-container { /*USED*/
		width: 1000px; /*it was 600 عرض صندوق النص*/
		text-align: right; /*تغيير اتجاه النصوص بداية كل صفحة*/
		/*float:right; انا اضفته */

		h1, h2, p, .button {
			text-shadow: none; /*it was 1px 1px 1px rgba(0,0,0,.8)*/
			z-index: 1;
		}
	}

	.hero-text-right { 
		position: absolute;
		right: 0;
	}

	.cover-image { /* انا اضفته */
		float: left; /*انا اضفته */
		left: 0; /*انا اضفته */
	}

	
.image {
	text-align: center;
}

.bottom-cta {
	text-align: center;

	h2 {
		margin-bottom: 12px;
	}
}

@media #{$desktop} {
	.flex {
		@include flexbox;
		align-items: center;
		flex-direction: row;

		.text, .image {
			-webkit-flex: 1;
			flex: 1;
			padding: 0 20px;
		}
	}

	.content section:nth-child(even) .flex {
		flex-direction: row-reverse;
	}
}
