nav a {
    display: none; // hide by default on mobile

    &.nav-toggle {
        display: inline; // burger always visible
    }

    @media #{$mid-point} {
        display: inline; // desktop: show inline
    }
}

.nav-open nav a {
    display: block; // when burger clicked
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.1);

    &.white {
        border-radius: 100px;
        background: rgba(255,255,255,0.3);
        border: 0.05px solid rgba(255,255,255,1);
        color: #fff;
        font-weight: bold;

        &:hover {
            background: rgba(255,255,255,0.5);
        }
    }

    &.lang {
        background: none;
        border: none;
        color: rgba(255,255,255,.8);

        &:hover {
            color: #fff;
        }
    }
}

