.services-slider-section {
  position: relative;
  text-align: center;
  background: #fafbfa;
  border-radius: 1000px 1000px 0 0;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.05);
  padding: 60px 20px 0;
  min-height: 80vh; //it was 100vh
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

//.services-slider-title { ///////////////////////////////////111111111111111111111111111111111111111111
  //color: #0e385b; ///////////////////////////////////111111111111111111111111111111111111111111
  //margin-bottom: 40px; ///////////////////////////////////111111111111111111111111111111111111111111
  //align-items: right; ///////////////////////////////////111111111111111111111111111111111111111111
//} ///////////////////////////////////111111111111111111111111111111111111111111

.services-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 70vh;
}

.service-slide {
  position: absolute;
  //width: 60%; //حطيتهم تحت حسب نوع الجهاز
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #0e385b;
  text-align: center;

  ul {
    list-style: none;
    padding: 0;
    margin-top: 10px;
    color: #6d767d;

    li {
      position: relative;
      padding: 0 25px;
      color: #6d767d; ///////////////////////////////////22222222222222222222222222222222222222222222
      //text-align: right; ///////////////////////////////////222222222222222222222222222222222222222222222

      &::before {
        content: "✔";
        position: absolute;
        right: 0;
        color: #0db6bd;
        font-weight: bold;
      }
    }
  }
}

.service-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.service-image img {
  max-width: 70vh;
  margin: 30px 0 10px; ///////////////////////////////////222222222222222222222222222222222222222
}


/* Responsive (laptop) */
@media #{$mid-point} {
  .services-slider-section {
    padding: 40px 20px 40px; // it was 40px 20px/////////////////////////////////////////2222222222222222222222222222222222222222 خطيت مرة ثانية 40 اخر شيء عشان اشوف الدوائر تتغير ولا لا
  }

  .service-slide {
    width: 75%; //it was 85
  }

.arrows-button {
  position: absolute;
  top: 50%;
  background: #fff;
  color: #6d767d;
  border: none;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;

  &:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  }
}

.arrows-button.prev {
  left: 60px;
}

.arrows-button.next {
  right: 60px;
}
}

/* Phone view */
@media #{$phone} {
  //.services-slider-section {
  //  padding: 10px; //30px 15px ///////////////////////////////////11111111111111111111111111111111111111111
  //}

  .service-image img {
    max-width: 100%;
  }

  .service-slide {
    width: 95%; //it was 95 ///////////////////////////////////2222222222222222222222222222222222222
  }

  .arrows-button {
    display: none !important;
  }

}
