.services-slider-section {
  position: relative;
  text-align: center;
  background: #fafbfa;
  border-radius: 1000px 1000px 0 0;
  box-shadow: 0 -6px 20px rgba(0, 0, 0, 0.05);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

/* //////////////////////////88888888888888888888888888888888
.services-slider-title { ///////////////////////////////////555555555555555555555555555555555
  color: #ff0000; //#0e385b//////////////////////////77777777777777777777777
  //margin-bottom: 40px;
  align-items: right; ///////////////////////////////////555555555555555555555555555555555
} ///////////////////////////////////555555555555555555555555555555555
//////////////////////////88888888888888888888888888888888 */

.services-slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 70vh;
}

.service-slide {
  position: absolute;
  //width: 60%; //حطيتهم تحت حسب نوع الجهاز
  opacity: 0;
  transform: scale(0.9);
  transition: opacity 0.6s ease, transform 0.6s ease;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #00ff22; //#0e385b//////////////////////////77777777777777777777777


/*   ////////////////////////////////////////////////88888888888888888888888888888888888888888
  ul { /*Sub-services
    list-style: none;
    padding: 0;
    margin-top: 10px;
    color: #ff00e1; //#6d767d////////////////////////77777777777777777777777
    text-align: start; ///////////////////////////////////3333333333333333333333333333333
    position: relative; /////////////////////////////////////////555555555555555555555555555555555
    padding: 0 25px; /////////////////////////////////////////555555555555555555555555555555555
////////////////////////////////////////////////88888888888888888888888888888888888888888 */

  li {
      position: relative;
      padding: 0 25px;
      color: #ff5e00; //#6d767d////////////////////////77777777777777777777777
      text-align: start; /////////////////////////////////////////666666666666666666666666666666666

      &::before {
        content: "✔";
        position: absolute;
        right: 0;
        color: #0db6bd;
        font-weight: bold;
      }
    }
  }
//} //////////////////////////888888888888888888888888888888888

.service-slide.active {
  opacity: 1;
  transform: scale(1);
  z-index: 2;
}

.service-image img {
  max-width: 70vh;
  margin: 30px 0 10px;
}


/* Responsive (laptop) */
@media #{$mid-point} {
  .services-slider-section {
    padding: 40px 20px 20px; // padding under the dots to the top
  }

  .service-slide {
    width: 75%;
  }

.arrows-button {
  position: absolute;
  top: 50%;
  background: #fff;
  color: #6d767d;
  border: none;
  font-size: 18px;
  padding: 8px 15px;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, transform 0.3s;

  &:hover {
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
  }
}

.arrows-button.prev {
  left: 60px;
}

.arrows-button.next {
  right: 60px;
}
}

/* Phone view */
@media #{$phone} {
  .services-slider-section {
    padding: 30px 15px 20px; // padding under the dots to the top
  }

  .service-image img {
    max-width: 100%;
  }

  .service-slide {
    width: 95%;
  }

  .arrows-button {
    display: none !important;
  }

}
