$brand-color: #0db6bd;

$darkest-navy: #022c4e;
$main-navy: #0e385b; /*العناوين الرئيسية*/
$light-navy: #4d72a7;

$darkest-teal: #0e657e;
$main-teal: #0db6bd;
$light-teal1: #bcebed;
$light-teal2: #f4fcfc;

$main-gray: #6d767d; /*النصوص الثانوية*/
$light-gray1: #e4e6ea; /*إطارات الصناديق*/
$light-gray2: #f2f3f5; /*خلفية الصناديق*/
$light-gray3: #fafafb; 

$main-yellow: #eab646;
$light-yellow1: #fbf1cd;
$light-yellow2: #fefbf0;

$main-blue: #3f79cb;
$light-blue1: #dae9fe;
$light-blue2: #f4f9ff;

$main-red: #d44549;
$light-red1: #f7d7da;
$light-red2: #fdf3f4;

$main-green: #4ca626;
$light-green1: #d9f4cd;
$light-green2: #f4fcf1;

$check-services: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 448 512'%3E%3Cpath fill='%236d767d' d='M434.8 70.1c14.3 10.4 17.5 30.4 7.1 44.7l-256 352c-5.5 7.6-14 12.3-23.4 13.1s-18.5-2.7-25.1-9.3l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0l101.5 101.5 234-321.7c10.4-14.3 30.4-17.5 44.7-7.1z'/%3E%3C/svg%3E");

// Breakpoints
$phone: "(max-width: 767px)"; 
$mid-point: "(min-width: 768px)"; /* it was 620px */
$desktop: "(min-width: 768px)";
